.code pre {
    margin-bottom: 0px;
}

/* Poll */
ul.poll {
    font-size: .8em;
    width: 400px;
}

ul.poll li {
    margin: 3px 0 0 1.2em;
    padding: 0;
    padding-left: 5px;
}


ul.poll li::before{
    width: 1.3em;
    margin-left: -1.3em;
    position: absolute;
}

ul.poll li[rel="A"]::before{
    content: 'A.';
    color: rgb(0, 138, 53);
}

ul.poll li[rel="B"]::before{
    content: 'B.';
    color: rgb(0, 102, 204);
}

ul.poll li[rel="C"]::before{
    content: 'C.';
    color: rgb(255, 0, 0);
}

ul.poll li[rel="D"]::before{
    content: 'D.';
    color: rgb(255, 211, 25);
}

ul.poll li.correct {
    color: white;
    border-radius: 10px;
}

ul.poll li.correct[rel="A"]{
    background-color: rgb(0, 138, 53);
}

ul.poll li.correct[rel="B"]{
    background-color: rgb(0, 102, 204);
}

ul.poll li.correct[rel="C"]{
    background-color: rgb(255, 0, 0);
}

ul.poll li.correct[rel="D"]{
     background-color: rgb(255, 211, 25);
}






/*
pre{
    margin: 0 !important;
}

ul.poll{
    margin:  0px;
}
*/

/* Overide styles */
/*.slides.template-default .puzzle-tiger {*/
    /*background: url(images/puzzle-tiger.png) 665px 560px no-repeat;*/
    /*background-color: white;*/
/*}*/

/*.slides.template-default .puzzle-box {*/
    /*background: url(images/puzzle-box.png) 675px 490px no-repeat;*/
    /*background-color: white;*/
/*}*/

/*.slides.template-default .intro {*/
    /*background: url(images/puzzle.png) 634px 447px no-repeat;*/
    /*background-color: white;*/
