@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Audiowide);

div[poll] {
    text-align: left;
}

div[poll] ul {
    font-family: 'Nunito';
    list-style-type: none;
    margin: 0px;
    padding: 0;

}

div[poll] ul > li {
    margin-bottom: 10px;
    transition: opacity .3s ease-out;
}

div[poll] ul > li > div {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,255,0,1);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    padding:0

}

div[poll] ul > li > span {
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

div[poll] ul > li:nth-child(1n) > div {
    background-color: rgba(136,168,37,1);
}

div[poll] ul > li:nth-child(2n) > div {
    background-color: rgba(53,32,59,1);
}

div[poll] ul > li:nth-child(3n) > div {
    background-color: rgba(145,17,70,1);
}

div[poll] ul > li:nth-child(4n) > div {
    background-color: rgba(207,74,48,1);
}

div[poll] ul > li:nth-child(5n) > div {
    background-color: rgba(237,140,43,1);
}

div[poll] div.poll-results {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
}